/*
Studio development - Rubic-on
Skype - virusok3740
rubic-on.com
*/

@font-face {
	font-family: Beaufort-Regular;
	src: url(../font/beaufortforlol-regular.otf);
}

input {
	outline: none;
}

button {
	outline: none;
}

body {
	font-family: "Beaufort-Regular";
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	background-color: #191919;
	color: #cdcdcd;
	overflow-x: hidden;
}

ul {
	padding: 0px;
	margin: 0px;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.3s;
}

.bgimage-container {
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background: linear-gradient(124deg, rgb(255 36 0 / 0.1), rgb(232 29 29 / 0.1), rgb(232 183 29 / 0.1), rgb(227 232 29 / 0.1), rgb(29 232 64 / 0.1), rgb(29 221 232 / 0.1), rgb(43 29 232 / 0.1), rgb(221 0 243 / 0.1), rgb(221 0 243 / 0.1));
	background-size: 1800% 1800%;
	-webkit-animation: rainbow 18s ease infinite;
	-z-animation: rainbow 18s ease infinite;
	-o-animation: rainbow 18s ease infinite;
	animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
	0% {
		background-position: 0% 82%
	}
	50% {
		background-position: 100% 19%
	}
	100% {
		background-position: 0% 82%
	}
}

@-moz-keyframes rainbow {
	0% {
		background-position: 0% 82%
	}
	50% {
		background-position: 100% 19%
	}
	100% {
		background-position: 0% 82%
	}
}

@-o-keyframes rainbow {
	0% {
		background-position: 0% 82%
	}
	50% {
		background-position: 100% 19%
	}
	100% {
		background-position: 0% 82%
	}
}

@keyframes rainbow {
	0% {
		background-position: 0% 82%
	}
	50% {
		background-position: 100% 19%
	}
	100% {
		background-position: 0% 82%
	}
}

.wrap {
	width: 90%;
	margin: 0 auto;
}

.title-name {
	color: #78182d;
	font-size: 18px;
	text-transform: uppercase;
	padding: 15px;
}

.title-name span {
	padding: 2px 5px;
	background: #0000001a;
	margin-left: 4px;
	margin-top: -2px;
}

.feature-img {
	width: 40px!important;
	height: 40px;
	margin-right: 5px;
}

/*flex-box style*/

.f-a {
	display: flex;
	justify-content: space-around;
}

.f-b {
	display: flex;
	justify-content: space-between;
}

.f-c {
	display: flex;
	justify-content: center;
}

.f-s {
	display: flex;
	justify-content: flex-start;
}

.f-s-feature {
	display: flex;
}

.f-e {
	display: flex;
	justify-content: flex-end;
}

.fww {
	flex-wrap: wrap;
}

/*header*/

.header {
	background: #0e0e0e;
	padding: 12px 0px;
}

.top-menu li {
	text-transform: uppercase;
	display: inline-block;
	margin: 6px 5px;
}

.top-menu a {
	padding: 5px 10px;
	border-radius: 5px;
	transition: 0.3s;
}

.top-menu a:hover {
	color: #fff;
	background: #1a1a1a;
}

.menu-nav {
	width: 40%;
}

.lang-select {
	max-width: 50px;
}

.select {
	width: 42px;
	height: 21px;
	text-align: center;
	background: #ffffff0d;
	padding: 5px 0px;
	border-radius: 5px;
}

.lang-arrow-item {
	position: relative;
	left: -12px;
	top: 6px;
}

.select img {
	position: relative;
	left: -7px;
}

.language .select {
	cursor: pointer;
}

.language .select+div {
	display: none;
}

.lang-arrow-item i {
	font-size: 10px;
}

.open-lang {
	background: #000000b3;
	text-align: center;
	padding: 5px 10px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
}

.option img {
	cursor: pointer;
}

.header-logo {
	position: absolute;
	top: -3px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 225px;
	height: 110px;
	background: #0e0e0e;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	box-shadow: 0px 3px 0px 1px #ffffff14;
	z-index: 99;
}

.logotip-img {
	position: relative;
	text-align: center;
}

.logotip-img img {
	width: 80%;
	margin-top: 10px;
}

.header-login {
	background: #1a1a1a;
	padding: 7px 20px;
	border-radius: 5px;
	border: 1px solid #ffffff0a;
	box-shadow: 2px 2px 3px #00000069;
	transition: 0.3s;
}

.header-login:hover {
	background: #ffffff24 !important;
}

.header-login i {
	color: #a21636;
	font-size: 16px;
	position: relative;
	top: 1px;
	margin-right: 5px;
}

/*bgimage*/

.bgimage {
	position: relative;
}

.head-images img {
	width: 100%;
}

.lamps {
	background: url(../img/lamp-purple.png);
	height: 13px;
	width: 100%;
	position: relative;
	top: -12px;
	left: 0px;
}

.bgimage-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 97%;
}

.bg-image-sky {
	background: url(../img/sky.png);
	max-width: 622px;
	height: 186px;
	margin-top: 100px;
}

.slider-wrapper {
	overflow: hidden;
	height: 120px;
	width: 70%;
}

.slider-wrapper li {
	display: none;
}

.slider-wrapper .current-slide {
	display: block;
}

#slider {
	width: 100%;
	margin-left: 35px;
	position: relative;
	top: 35px;
	height: 130px;
}

.slider-wrapper {
	margin-left: 40px;
	color: #ffffffa8;
	font-size: 15px;
}

.slider-wrapper .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	padding: 10px;
	color: #FFF;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.slider-wrapper li:hover .caption {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.control-buttons {
	text-align: center;
	background: #ffffff1c;
	padding: 2px;
	border-radius: 10px;
}

.control-buttons li {
	cursor: pointer;
	background: #ffffff38;
	text-indent: -99999px;
	height: 5px;
	width: 5px;
	margin: 6px 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #ffffff73;
}

.control-buttons li.active {
	background: #00000073;
}

.social-item {
	position: absolute;
	right: 0px;
}

.slide-title {
	margin-bottom: 10px;
	font-size: 26px;
	text-transform: uppercase;
	color: #fff;
}

.social-buttons {
	position: absolute;
	top: 30%;
	right: 0px;
}

.social-icon {
	background: #1a1a1a;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	position: relative;
	left: 25px;
	bottom: 3px;
	box-shadow: 0px 0px 0px 2px #ffffff1c;
	text-align: center;
	transition: 0.6s;
}

.social-icon img {
	width: 36px;
	height: 36px;
	margin-top: 10px;
}

.social-name {
	color: #6e6e6e;
	background: #1a1a1a;
	padding: 18px 5px 16px 40px;
	height: 15px;
	font-size: 0px;
	width: 0px;
	font-weight: bold;
	transition: 0.4s;
}

.social-item:hover>.social-name {
	width: 110px;
	font-size: 12px;
}

.social-item-second {
	top: 70px;
}

/*active events*/

.active-events {
	height: 150px;
	background-color: #191919;
	background: url(../img/grid.png);
	box-shadow: 0px 2px 5px 1px #00000021;
	margin-top: -15px;
	padding-bottom: 10px;
}

.event-item {
	width: 280px;
	background: #00000021;
	padding: 5px;
	margin: 0px 5px;
	border-radius: 5px;
}

.event-game-img {
	width: 80px;
	height: 70px;
	text-align: center;
	background: rgb(0 0 0 / 0.3);
	border-radius: 5px;
}

.event-game-img img {
	margin-top: 18px;
}

.event-text {
	text-align: center;
	width: 70%;
}

.feature-text {
	text-align: center;
}

.event-title {
	color: #6e6e6e;
	margin-left: 10px;
	margin-top: 6px;
}

.feature-title {
	color: white;
	margin-left: 12px;
	margin-top: 6px;
}

.event-title span {
	color: #fff;
}

.event-start {
	color: #3f5f6a;
	text-transform: uppercase;
	text-align: center;
}

.event-time {
	padding: 2px 6px;
	background: #ffffff0d;
	color: #78182d;
	width: 50px;
	text-align: center;
	margin: 0 auto;
	margin-top: 3px;
	border-radius: 5px;
}

/*LEFTSIDE*/

.left-side {
	margin: 20px;
	width: 60%;
}

.left-side-features {
	margin: 20px;
	width: 45%;
}

/*gameselect*/

.gameselect {
	background: #1a1a1a;
	padding: 10px;
	box-shadow: 0px 0px 3px 1px #0003;
}

.gameselect-container {
	position: relative;
	margin-top: 10px;
}

.gameselect-container img {
	position: relative;
	height: 100%;
	width: 100%;
}

.gameselect-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
}

.gameselect-online {
	background: rgb(0 0 0 / 0.5);
	padding: 5px 10px;
	position: absolute;
	border-radius: 5px;
	top: 10px;
	left: 10px;
}

.gs-online-stat {
	width: 4px;
	height: 4px;
	border-radius: 50px;
	background: #7cc623;
	margin-top: 8px;
	margin-right: 6px;
}

.gs-online-total {
	font-size: 12px;
}

.gs-online-total span {
	font-size: 14px;
	color: #fff;
}

.gameselect-info {
	position: absolute;
	bottom: 4px;
	width: 100%;
	background: rgb(0 0 0 / 0.7);
}

.gameselect-info-container {
	padding: 10px;
}

.gs-info {
	width: 80%;
}

.gs-title {
	font-size: 18px;
}

.gs-description {
	font-size: 12px;
	color: #9d9d9d;
}

.gs-link {
	float: right;
}

.gs-button {
	background: #191919;
	padding: 10px 10px;
	border-radius: 5px;
	text-transform: uppercase;
	color: #78182d;
	margin-top: 8px;
	position: relative;
	top: 5px;
	box-shadow: 0px 0px 3px 1px #0006;
	transition: 0.3s;
}

.gs-button:hover {
	background: #78182d;
	color: #ffffffd1;
}

.gs-button i {
	color: #ffffff91;
	font-size: 24px;
	position: relative;
	top: 4px;
	margin-left: 5px;
}

/*last news*/

.last-news {
	position: relative;
	background: #1a1a1a;
	margin-top: 20px;
	box-shadow: 0px 0px 3px 1px #0003;
	padding-bottom: 10px;
}

.lamps-news {
	position: absolute;
	top: -6px;
	width: 99%;
	left: 3px;
}

.last-news-header {
	padding: 20px 20px;
	background: rgb(0 0 0 / 0.1);
}

.last-news-header-icon i {
	font-size: 36px;
	margin-right: 20px;
	color: #303030;
}

.last-news-header-name {
	margin-top: -3px;
}

.last-news-title {
	font-size: 18px;
	text-transform: uppercase;
	color: #78182d;
}

.last-news-description {
	color: #6e6e6e;
	font-size: 12px;
}

.last-news-header-fullnews {
	margin-top: 10px;
}

.ln-fullnews-link {
	background: rgb(255 255 255 / 0.05);
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
	color: #6e6e6e;
	transition: 0.3s;
}

.ln-fullnews-link:hover {
	background: rgb(120 24 45);
	color: #cdcdcd;
}

.last-news-inform {
	margin: 10px;
}

.last-news-nfirst-img {
	width: 150px;
	height: 150px;
}

.last-news-nfirst-content {
	position: relative;
	background: rgb(0 0 0 / 0.1);
}

.last-news-nfirst-content h1 {
	color: rgb(255 255 255 / 0.7);
	font-size: 16px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

.last-news-nfirst-content p {
	color: #6e6e6e;
}

.last-news-small-news {
	position: relative;
	background: rgb(0 0 0 / 0.1);
	margin-top: 10px;
}

.last-news-small-news h1 {
	color: rgb(255 255 255 / 0.7);
	font-size: 16px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

.last-news-small-news p {
	color: #6e6e6e;
}

.last-news-nfirst-navigate {
	background: rgb(0 0 0 / 0.2);
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.last-news-nfirst-overlay {
	padding: 15px 15px;
}

.last-news-small-navigate {
	background: rgb(0 0 0 / 0.2);
	position: relative;
	bottom: 0px;
	width: 100%;
}

.last-news-small-overlay {
	padding: 15px 15px 5px;
}

.ln-info-block {
	color: #6e6e6e;
	font-size: 12px;
	background: rgb(0 0 0 / 0.2);
	padding: 5px 10px;
	margin: 5px;
	width: fit-content;
	max-width: -webkit-fill-available;
}

.ln-info-block span {
	color: #cdcdcd;
}

.ln-info-button {
	font-size: 12px;
	border-radius: 5px;
	border: 1px solid #78182d;
	padding: 5px 10px;
	height: fit-content;
	height: -webkit-fit-content;
	margin-top: 4px;
	margin-right: 10px;
	transition: 0.3s;
}

.ln-info-button:hover {
	border: 1px solid rgb(0 0 0 / 0.2);
	background: #303030;
}

.ln-info-button i {
	margin-right: 5px;
}

.snews-green {
	border-left: 2px solid #418b64;
}

.snews-vilvet {
	border-left: 2px solid #5f418b;
}

.snews-yellow {
	border-left: 2px solid #a3aa59;
}

/*join now*/

.joinnow {
	background: rgb(255 255 255 / 0.01);
	width: fit-content;
	width: -webkit-fit-content;
	padding: 5px;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.joinnow-info {
	color: #6e6e6e;
	margin-top: 10px;
	margin-left: 10px;
}

.joinnow-button {
	padding: 10px 20px;
	background: #78182d;
	border-radius: 5px;
	text-transform: uppercase;
	margin-left: 10px;
	transition: 0.3s;
}

.joinnow-button:hover {
	background: #121212;
	box-shadow: inset 0px 0px 2px 1px #00000036;
}

/*RIGHTSIDE*/

.right-side {
	margin: 20px;
	width: 28%;
}

.right-side-features {
	margin: 20px;
	width: 45%;
}

/*servers*/

.server-contant {
	background: rgb(0 0 0 / 0.1);
}

.server-name {
	width: 150px;
}

.server-container {
	position: relative;
	padding: 5px;
	background: #1a1a1a;
	box-shadow: 0px 0px 3px 1px #0003;
	margin-top: 5px;
}

.server-container:nth-child(1) {
	margin-top: 0px;
}

.server-start i {
	background: #303030;
	padding: 5px;
	width: 16px;
	text-align: center;
	border-radius: 5px;
	color: #191919;
	font-size: 16px;
	margin: 5px;
}

.server-ntitle {
	color: #cdcdcd;
	margin: 10px 5px;
	font-size: 12px;
}

.server-line {
	width: 1px;
	background: rgb(255 255 255 / 0.05);
	margin: 0px 8px;
}

.server-online {
	margin-top: 10px;
}

.server-buttons-link {
	padding: 6px 10px;
	height: fit-content;
	height: -webkit-fit-content;
	background: rgb(255 255 255 / 0.11);
	margin: 4px;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
}

.server-buttons-link:hover {
	transition: 0.3s;
	opacity: 0.7;
}

.server-news {
	background: rgb(0 0 0 / 0.1);
	margin-top: 1px;
	font-size: 12px;
	padding: 5px;
}

.server-news span {
	background: #3f5f6a;
	padding: 5px;
	text-transform: uppercase;
	height: fit-content;
	height: -webkit-fit-content;
	border-radius: 5px;
}

.server-startin {
	margin: 5px 10px;
}

/*forum topic*/

.forumtopic {
	position: relative;
	background: #1a1a1a;
	box-shadow: 0px 0px 3px 1px #0003;
	margin-top: 20px;
	padding-bottom: 5px;
}

.forumtopic-header {
	background: rgb(0 0 0 / 0.1);
	padding: 20px;
	color: #78172d;
	font-size: 18px;
	text-transform: uppercase;
}

.lamps-server {
	position: absolute;
	top: -6px;
	width: 100%;
	left: 0px;
}

.forumtopic-title i {
	padding: 7px;
	background: rgb(0 0 0 / 0.2);
	border-radius: 5px;
	color: rgb(48 48 48);
	margin-right: 10px;
}

.forum-topic {
	background: rgb(0 0 0 / 0.2);
	padding: 7px 10px;
	margin: 1px 5px;
}

.forum-topic:nth-child(1) {
	margin-top: 5px;
}

.forum-topic-name {
	color: #6e6e6e;
	margin-top: 8px;
	width: 70%;
}

.forum-dline {
	width: 1px;
	background: rgb(255 255 255 / 0.05);
}

.forum-topic-info {
	text-align: center;
	width: 80px;
}

.forum-topic-info-date {
	font-size: 10px;
	color: #6e6e6e;
}

.forum-topic-button {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid #78182d;
	padding: 7px 20px;
	height: fit-content;
	height: -webkit-fit-content;
	transition: 0.3s;
	margin: 10px;
	width: fit-content;
	height: -webkit-fit-content;
	transition: 0.3s;
}

.forum-topic-button:hover {
	background: #78182d;
	border: 1px solid #0000007a;
}

.forum-topic-button i {
	margin-right: 5px;
}

/*top player*/

.topinfo {
	position: relative;
	background: #1a1a1a;
	box-shadow: 0px 0px 3px 1px #0003;
	margin-top: 20px;
	padding-bottom: 5px;
}

.topinfo-header {
	background: rgb(0 0 0 / 0.1);
	padding: 20px;
	color: #78172d;
	font-size: 18px;
	text-transform: uppercase;
}

.lamps-topinfo {
	position: absolute;
	top: -6px;
	width: 100%;
	left: 0px;
}

.topinfo-title i {
	padding: 7px;
	background: rgb(0 0 0 / 0.2);
	border-radius: 5px;
	color: rgb(48 48 48);
	margin-right: 10px;
}

.topinfo-top-item {
	background: rgb(0 0 0 / 0.2);
	padding: 5px 10px;
	margin: 1px 5px;
}

.topinfo-top-bg {
	margin: 0px;
}

.topinfo-top-item:nth-child(1) {
	margin-top: 5px;
}

.topinfo-dline {
	width: 1px;
	background: rgb(255 255 255 / 0.05);
}

.top-info-player {
	width: 150px;
}

.topinfo-place {
	padding: 5px 8px;
	background: rgb(255 255 255 / 0.02);
	width: fit-content;
	width: -webkit-fit-content;
	height: fit-content;
	height: -webkit-fit-content;
	border-radius: 5px;
	color: #6e6e6e;
	margin-top: 5px;
	font-size: 12px;
	margin-right: 10px;
	width: 10px;
	text-align: center;
}

.topinfo-gamername {
	font-size: 14px;
	margin-top: 9px;
	color: #6e6e6e;
}

.topinfo-rate {
	padding: 5px 25px;
	background: rgb(255 255 255 / 0.02);
	width: fit-content;
	width: -webkit-fit-content;
	height: fit-content;
	height: -webkit-fit-content;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	margin-top: 4px;
}

.topinfo-game {
	margin-top: 4px;
	width: 70px;
	text-align: center;
}

.topinfo-game img {
	height: 28px;
}

.topinfo-gold {
	color: #ffc600;
}

.topinfo-silver {
	color: #c7c7c7;
}

.topinfo-bronse {
	color: #8a4a0b;
}

/*stream*/

.prstream {
	position: relative;
	background: #1a1a1a;
	box-shadow: 0px 0px 3px 1px #0003;
	margin-top: 20px;
	padding-bottom: 5px;
}

.prstream-bgimg {
	background: url(../img/stream-bg.png);
	width: 341px;
	height: 135px;
	position: absolute;
	background-repeat: no-repeat;
	right: 0px;
	top: 25px;
}

.prstream-header {
	padding: 5px;
	color: #78172d;
	font-size: 18px;
	text-transform: uppercase;
	position: relative;
}

.prstream-title i {
	padding: 7px;
	background: rgb(0 0 0 / 0.2);
	color: rgb(48 48 48);
	margin-right: 10px;
	font-size: 30px;
}

.prstream-title span {
	position: relative;
	top: -5px;
}

.prstream-addstream {
	color: #6e6e6e;
	font-size: 12px;
	text-decoration: underline;
	text-transform: capitalize;
	margin-top: 15px;
	margin-right: 10px;
	transition: 0.3s;
}

.prstream-addstream:hover {
	color: #fff
}

.prestream-items {
	position: relative;
}

.prestream-stream {
	width: 43%;
	margin: 5px;
	padding: 5px;
	background: rgb(0 0 0 / 0.1);
}

.rblock-dline {
	margin-top: 30px;
}

.rblock-dline-s {
	width: 50%;
	height: 1px;
	background: rgb(255 255 255 / 0.02);
	margin: 0 auto;
	margin-top: 10px;
}

.rblock-dline-l {
	width: 70%;
	height: 1px;
	background: rgb(255 255 255 / 0.02);
	margin: 0 auto;
}

/*footer*/

.footer {
	background: #121212;
	width: 100%;
}

.footer-dline {
	background: #a41636;
	width: 100%;
	height: 3px;
}

.footer-logo {
	text-align: center;
	background: rgb(0 0 0 / 0.2);
	padding: 35px;
	width: 200px;
}

.footer-logo img {
	width: 190px;
	opacity: 0.2;
	transition: 0.3s;
}

.footer-logo img:hover {
	opacity: 1;
}

.footer-nav h3 {
	font-weight: normal;
	text-transform: uppercase;
	color: #6e6e6e;
	font-size: 18px;
}

.footer-nav {
	width: 60%;
	margin: 2px 20px;
}

.footer-nav-link a {
	border: 1px solid rgb(255 255 255 / 0.1);
	padding: 5px 10px;
	transition: 0.3s
}

.footer-nav-link a:hover {
	border: 1px solid rgb(120 24 45);
	background: #00000061;
}

.footer-nav-dline {
	width: 1px;
	background: rgb(255 255 255 / 0.05);
	margin: 10px;
}

.footer-copy {
	padding: 10px 15px;
	background: rgb(0 0 0 / 0.2);
	margin-top: 10px;
	width: fit-content;
	width: -webkit-fit-content;
}

.footer-copy a {
	color: #fff;
}

.studio-copy-mob {
	display: none;
}

/*adaptive mobile menu*/

#menuToggle {
	display: none;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
	background: rgb(255 255 255 / 0.05);
	padding: 10px 10px 5px;
	border: 1px solid #0e0e0e;
	border-radius: 5px;
	z-index: 999;
}

#menuToggle a {
	text-decoration: none;
	color: #232323;
	transition: color 0.3s ease;
}

#menuToggle input {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 25px;
	height: 3px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 250px;
	z-index: 9999;
	left: -20px;
	top: 50px;
	text-align: center;
	padding: 20px 0px;
	background: #191919;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	border-radius: 5px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
	box-shadow: 2px 2px 3px 0px #00000040;
}

#menu:before {
	content: "";
	width: 10px;
	height: 10px;
	background: #191919;
	position: absolute;
	top: -10px;
	left: 15px;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#menu li {
	padding: 6px 0;
	font-size: 16px;
	background: #0000001c;
	margin: 1px;
	color: #78182d;
	transition: 0.3s;
	margin: 2px 10px;
}

#menuToggle li:hover {
	color: #ccc;
}

.mobile-menu {
	display: none;
}

.mobile-login {
	background: #78182d !important;
	color: #ffffffab !important;
	margin-top: 10px !important;
}

.mobile-login:hover {
	color: #000 !important;
}

#menuToggle input:checked~ul {
	transform: none;
	left: 0px;
}

.logotip-img-mobile {
	text-align: center;
}

.logotip-img-mobile img {
	width: 125px;
	padding: 5px 10px;
	background: rgb(255 255 255 / 0.05);
}

/*spoiler*/

input[id^="spoiler"] {
	display: none;
}

input[id^="spoiler"]+label {
	display: none;
	margin: 0 auto;
	padding: 10px 10px;
	background: #121212;
	color: #6e6e6e;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	transition: all .6s;
	margin-top: 15px;
}

input[id^="spoiler"]:checked+label {
	color: #333;
	background: #ccc;
}

input[id^="spoiler"]~.spoiler {
	height: auto;
	overflow: hidden;
	opacity: 1;
	transition: all .6s;
}

input[id^="spoiler"]:checked+label+.spoiler {
	height: auto;
	opacity: 1;
}

/* preloader */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #0e0e0e;
}

.preload-load-page {
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	margin-top: 40px;
	color: #fff;
}

.preloader-img img {
	width: 300px;
	padding: 30px;
}

.preloader-img {
	margin: 0 auto;
	text-align: center;
	background: #00000030;
	margin: 20vh;
	width: 400px;
	margin: 0 auto;
	box-shadow: 0px 0px 10px 2px #0000006b;
	margin-top: 20vh;
	border-top: 4px solid #6e1126;
	border-radius: 50px 50px 50px 50px;
	border-bottom: 4px solid #6e1126;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4);
	}
	20% {
		-webkit-transform: scaleY(1);
	}
}

@keyframes stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1);
		-webkit-transform: scaleY(1);
	}
}